.nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navLink {
    display: flex;
    padding: 5px;
    background-color: transparent;
    text-decoration: none;
    color: salmon;
    user-select: none;
  }
  .active {
    border-radius: 10px;
    color: salmon;
  }